{
  "env": {
    "browser": true,
    "es2021": true,
  },
  "extends": ["airbnb", "plugin:react/jsx-runtime", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": "latest",
    "sourceType": "module",
    "babelOptions": {
      "presets": ["@babel/preset-react"],
    },
  },
  "plugins": ["react"],
  "overrides": [
    {
      "files": ["src/**/*.js"],
      "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/forbid-prop-types": "off",
        "no-plusplus": "off",
        "react/prop-types": "off",
        "no-shadow": "off",
      },
    },
    {
      "files": ["src/**/*Slice.js"],
      "rules": {
        "no-param-reassign": ["error", { "props": false }],
      },
    },
  ],
  "settings": {
    "react": {
      "version": "detect",
    },
  },
}
