.aside {
  box-sizing: border-box;
  margin: 0;
  grid-area: aside;
  width: 272px;
  height: 290px;
  padding: 20px;
  overflow: hidden;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: 7px;

  box-shadow: 0px 0px 15px -5px rgba(34, 60, 80, 0.2);
}

.filters-title {
  margin: 0;
  font-weight: 400;
}

.filters {
  margin: 0;
}

.filter {
  position: relative;

  &:hover::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -20px;
    right: -20px;
    bottom: -10px;
    background-color: #f1fcff;
    z-index: 1;
  }

  & > * {
    position: relative;
    z-index: 2;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.checkbox-custom {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-custom + label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-custom + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #2196f3;
  border-radius: 2px;
  margin-right: 10px;
}

.checkbox-custom:checked + label::before {
  background: url('./Shape.svg') no-repeat center center;
}
